* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;

  font-family: "Lora";
  color: #040D12;
  background-color: #FDF7E4;
  /* background-color: #F6EEE3; */
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  width: 800px;
  padding-top: 120px;
  padding-bottom: 120px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 42px;
}

.subtitle {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 400;
}

.telegram-link {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #007880;
  display: flex;
  align-items: center;
  gap: 12px;
}

.telegram-link svg {
  width: 20px;
  height: 20px;
  fill: #007880;
}


.telegram-link:hover {
  color: #4f59e0;
}

.telegram-link:hover svg {
  fill: #4f59e0;
}

hr {
  width: 80%;
  display: block;
  margin: 30px 0;
  height: 1px;
  background: #040D12;
  border: none;
  align-self: start;
}

h3 {
  font-size: 32px;
}

.lections {
  margin-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #61583c;
  background-color: #FDF7E4;

  width: 100%;
}

.lections li {
  font-size: 20px;
  opacity: 1 !important;
}

.lections a {
  color: black;
}

.lections a:hover {
  color: #323edc;
}

.ar {
  text-align: right;
  align-items: flex-start;
  direction: rtl;
}

.ar hr {
  align-self: start;
}

.ar .lections {
  padding-right: 20px;    
  padding-left: 0px;
  text-align: right;
  direction: rtl;
}


@media (max-width: 860px) {
  .container {
    width: calc(100% - 30px);
  }
}